<div class="info">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="#" class="item d-flex align-items-center">
          <i class="fa-solid fa-truck"></i>
          <div class="title">
            <h4>Free Shipping</h4>
            <p>Orders over $200</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#" class="item d-flex align-items-center">
          <i class="fa-solid fa-credit-card"></i>
          <div class="title">
            <h4>Secure Payment</h4>
            <p>100% secure payment</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#" class="item d-flex align-items-center">
          <i class="fa-solid fa-certificate"></i>
          <div class="title">
            <h4>Gift Certificae</h4>
            <p>Buy now $500 to $1000</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#" class="item d-flex align-items-center">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <div class="title">
            <h4>24/7 Support</h4>
            <p>Ready support</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
