<div class="inspirations">
  <div class="navs w-100">
    <button class="previous round">‹</button>
    <button class="next round">›</button>
  </div>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex flex-column justify-content-center">
            <h4>New Inspirations</h4>
            <h1>
              <span>Man</span> <br />
              Collection 2022
            </h1>
            <p>Trendy for man and woman collections</p>
            <div class="d-inline-block my-3">
              <a href="#">Shop Now</a>
            </div>
          </div>
          <div class="col-8">
            <img src="../img/Inspirations/01.jpg" alt="slid-01" />
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex flex-column justify-content-center">
            <h4>Inspirations</h4>
            <h1>
              <span>Women</span> <br />
              Collection 2022
            </h1>
            <p>Trendy for man and woman collections</p>
            <div class="d-inline-block my-3">
              <a href="#">Shop Now</a>
            </div>
          </div>
          <div class="col-8">
            <img src="../img/Inspirations/Top-10-Clothing-Brands-In-Ireland.jpg" alt="slid-01" />
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex flex-column justify-content-center">
            <h4>New Inspirations</h4>
            <h1>
              <span>Kids</span> <br />
              Collection 2022
            </h1>
            <p>Trendy for man and woman collections</p>
            <div class="d-inline-block my-3">
              <a href="#">Shop Now</a>
            </div>
          </div>
          <div class="col-8">
            <img src="../img/Inspirations/Top-10-Clothing-Brands-In-Ireland.jpg" alt="slid-01" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inspirations-bg">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-6 h-100 bg-blue"></div>
        <div class="col-6 h-100 bg-img"></div>
      </div>
    </div>
  </div>
</div>
