<div class="customer">
  <div class="container">
    <div class="content">
      <div class="title text-center">
        <h2>What Say Our Regular Customer</h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour
        </p>
        <div class="navs">
          <button class="previous round">‹</button>
          <button class="next round">›</button>
        </div>
      </div>
    </div>
    <div class="block py-5">
      <div class="owl-carousel owl-theme text-center">
        <a href="#" class="item d-block">
          <div class="star">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-regular fa-star"></i>
          </div>
          <div class="text">
            <p>
              These settings don’t provide big changes but only some small css changes in spaces or borders for example.
            </p>
          </div>
          <div class="name d-flex justify-content-center align-items-center">
            <img src="../img/custuh/customer-01.png" alt="cust-01" />
            <p>
              Wade Warren
              <br />
              <span> UI Designer </span>
            </p>
          </div>
        </a>
        <a href="#" class="item d-block">
          <div class="star">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
          </div>
          <div class="text">
            <p>
              These settings don’t provide big changes but only some small css changes in spaces or borders for example.
            </p>
          </div>
          <div class="name d-flex justify-content-center align-items-center">
            <img src="../img/custuh/customer-02.png" alt="customer-02" />
            <p>
              Wade Warren
              <br />
              <span> &nbsp; </span>
            </p>
          </div>
        </a>
        <a href="#" class="item d-block">
          <div class="star">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
          </div>
          <div class="text">
            <p>
              These settings don’t provide big changes but only some small css changes in spaces or borders for example.
            </p>
          </div>
          <div class="name d-flex justify-content-center align-items-center">
            <img src="../img/custuh/customer-03.png" alt="customer-03" />
            <p>
              Wade Warren
              <br />
              <span> &nbsp; </span>
            </p>
          </div>
        </a>
        <a href="#" class="item d-block">
          <div class="star">
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
          </div>
          <div class="text">
            <p>
              These settings don’t provide big changes but only some small css changes in spaces or borders for example.
            </p>
          </div>
          <div class="name d-flex justify-content-center align-items-center">
            <img src="../img/custuh/customer-04.png" alt="customer-04" />
            <p>
              Wade Warren
              <br />
              <span> &nbsp; </span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
