<div class="subscribe d-none">
  <div class="container">
    <section>
      <div class="text d-flex">
        <div class="text-box left w-100" data-aos="fade-right">
          <p class="text-center">
            SAVE UP
            <br />
            <span> 50%</span>
            <br />
            OFF
          </p>
        </div>
        <div class="text-box right w-100" data-aos="fade-left">
          <h3>Sign Up Now & Get 10% Off</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
          <div class="input-group">
            <input type="text" class="form-control py-2" placeholder="Enter your email address" />
            <button class="btn" type="button" id="button-addon2">Subscribe Now</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
