.container {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .discount {
    .item {
      flex-direction: column;
    }
  }
  .products {
    padding: 50px 0;
  }
  .customer {
    padding: 50px 0;
    .navs {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__top {
      flex-direction: column;
      .form {
        margin: 20px 0;
      }
    }
  }
  .main {
    .active {
      flex-direction: column;
      width: 100%;

      li {
        margin: 20px;
      }
    }
  }
  .products {
    .content {
      max-width: 320px;
    }
    .row {
      justify-content: center;
    }
    &__main {
      .item {
        text-align: center;
        img {
          width: unset;
        }
      }
    }
  }
  .subscribe {
    .text {
      flex-wrap: wrap;

      .right {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 576px) {
}

@media (max-width: 320px) {
}
