.container {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .discount {
    .item {
      flex-direction: column;
    }
  }
  .customer {
    .navs {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__top {
      flex-direction: column;
      .form {
        margin: 20px 0;
      }
    }
  }
  .products {
    .content {
      max-width: 320px;
    }
    .row {
      justify-content: center;
    }
    &__main {
      .item {
        text-align: center;
        img {
          width: unset;
        }
      }
    }
  }
}

@media (max-width: 576px) {
}

@media (max-width: 320px) {
}
